/*Text on Image*/
.container {
  position: relative;
  box-sizing: border-box;
}

.text-block {
  font-size: 4rem;
  position: absolute;
  color: white;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

